{% load static %}
<div class="row mt-3" style="color: #ffe7e7;">
            
    <div class="col-md-4 p-3" style="background-color: #733204;">
        <h5>Address</h5>
        <hr>
        2nd floor,Landmark Building,<br>
        Near FC Collage,<br>
        Pune-411002,<br>
        Maharashtra,<br>
        contact- 9798765443
    </div>
    <div class="col-md-4 p-3" style="background-color: #733204;">
        <h5>Quick Links</h5>
        <hr>
        <a href="/products" class="anchorFoot" >Home</a><br>
        <a href="/about" class="anchorFoot" >About</a><br>
        <a href="/contact" class="anchorFoot">Contact</a><br>
    </div>
    <div class="col-md-4 p-3" style="background-color: #733204;" >
        <h5>Contact Us</h5>
        <hr>
        <h5><a href="https://www.facebook.com/" target="_blank" class="anchorFoot"><i class="bi bi-facebook"></i></a></h5>
        <h5><a href="https://x.com/" target="_blank" class="anchorFoot"><i class="bi bi-twitter"></i></a></h5>
        <h5><a href="https://www.instagram.com/" target="_blank" class="anchorFoot"><i class="bi bi-instagram"></i></i></a></h5>
    </div>
</div><!--Footer section end-->
</div>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/popper.js' %}"></script>
</body>
</html>
