{% extends 'base.html' %}
{% load static %}
{% block 'main' %}
<div class="row mt-3">
   <div class="col-md-12">
      <h1 class="text-left pt-3">About Us</h1>
      <hr class="w-25 border border-info mt-0">
      <p class="pt-3 pb-3">At Fkart, we align our Corporate Social Responsibility activities to the overarching theme of "Building India Together".
         With this goal, 'Fkart Cares' was launched to serve, support, and empower unskilled and underprivileged sections of society.
         To institutionalize these efforts of Fkart in creating sustainable social impact and to streamline our CSR program delivery, we went on to establish the "Fkart Foundation" in 2023. The Foundation focuses on continuing the work done through Fkart Cares, in various sectors to ensure maximum reach and sustainable impact.
      </p>
   </div>
</div>
{% endblock 'main' %}